
<div class="container">
  <p id="notice"><%= notice %></p>  
  <h3>Numbers</h3>
  
  <div class="card">
    <div class="row">
      <div class="col-md-2"> Number </div>
      <div class="col-md-2"> Country Code </div>
      <div class="col-md-2"> CN </div>
      <div class="col-md-2"> Prefix </div>
      <div class="col-md-2"> MCDU </div>
    </div>
    <div class="row">
      <% @numbers.each do |number| %>
        <div class="col-md-2"><%= number.number %></div>
        <div class="col-md-2"><%= number.countrycode %></div>
        <div class="col-md-2"><%= number.cn %></div>
        <div class="col-md-2"><%= number.prefix %></div>
        <div class="col-md-2"><%= number.mcdu %></div>
        <div class="col-md-2">
          <%= link_to 'Show / ', number %>
          <%= link_to 'Edit / ', edit_number_path(number) %>
          <%= link_to 'Delete', number, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  
  <%= link_to 'New Number', new_number_path %>
</div>
