<h1>Manages</h1>
<p id="notice"><%= params["notice"] %></p>

<table>
  <thead>
    <tr>
      <th>Manager</th>
      <th></th>
      <th>Subordinate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manages.each do |manage| %>
      <tr>
        <td><%= Number.find(manage.manager_id).number %></td>
        <td> / </td>
        <td><%= Number.find(manage.subordinate_id).number %> </td>
        <td>[ <%= link_to 'New Subordinate', newsubordinate_manage_path(manage) %> / </td>
        <td><%= link_to 'Delete', manage, method: :delete, data: { confirm: 'Are you sure?' } %> ]</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manager / Subordinate', new_manage_path %>
