
<div class="container">
    <h1> Lista de algoritmos</h1>
    
    BinGap(2595): <%= binary_gap(2595) %> <br>
    cyclic_rotation(A = [3, 8, 9, 7, 6] and K = 3): <%= cyclic_rotation([3, 8, 9, 7, 6],3) %> <br>
    odd_ocurrences_in_array(a): <%= odd_ocurrences_in_array([9,3,9,3,9,7,9]) %>  <br>
    perm_missing_element(a): <%= perm_missing_element([2,3,1,5]) %>  <br>
    frog_jump: <%= frog_jump(10, 85, 30) %>  <br>
    tape_equilibrium: <%= tape_equilibrium([3,1,2,4,3]) %> <br>
    missingInteger: <%= missingInteger([1, 3, 6, 4, 1, 2]) %> <br>
</div>